$clr-base: #303030;
$clr-dark: #2b2b2b;
$clr-hightlight: #454545;
$clr-text: #e7ebe5;
$clr-text-dark: #c0c0c0;

.container {
	background-color: $clr-dark;
	height: 100vh;
	overflow: auto;
}

.table-container {
	position: relative;
	padding: 1rem;
	padding-top: 0;
	background-color: $clr-dark;
}

#searchbar {
	display: flex;
	justify-content: flex-end;
	position: sticky;
	top: 0;
	height: 64px;
	padding: 1rem 1rem;
	background-color: $clr-dark;
	z-index: 1;

	input {
		color: $clr-text;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $clr-hightlight;
		caret-color: $clr-text;
		outline: none;

		&::placeholder {
			color: $clr-text-dark;
		}
	}

	select {
		margin-left: 1rem;
		color: $clr-text-dark;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $clr-hightlight;
		outline: none;

		option {
			color: black;
		}
	}
}

table {
	position: relative;
	width: 100%;
	min-width: 870px;

	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid $clr-hightlight;
	border-top: none;

	font-size: 13px;
	font-weight: 300;
	text-align: left;
	user-select: none;

	th,
	td {
		padding: 0.25rem 0.5rem;
	}

	th {
		position: sticky;
		top: 64px;
		z-index: 10;
		margin-bottom: 0.5rem;
		color: $clr-text-dark;
		background-color: $clr-dark;
		border: 1px solid $clr-hightlight;
		border-left: none;
	}

	td {
		border-bottom: none;
		border-right: 1px solid $clr-hightlight;
	}

	tr {
		color: $clr-text;
		background-color: $clr-base;
	}

	tr:hover {
		background-color: $clr-hightlight;
	}

	tbody > tr:first-child > td {
		padding-top: 0.5rem;
	}
}

.avatar {
	width: 30px;
	margin-left: 4px;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.green-txt {
	color: rgb(65, 224, 65);
}

.red-txt {
	color: rgb(255, 65, 65);
}
