@import '../../utillities/utillities.scss';

$searchbar-height: 64px;

.cardholder-page-container {
	background-color: $clr-dark;
	height: 100%;

	#searchbar {
		display: flex;
		position: sticky;
		top: 0;
		height: $searchbar-height;
		padding: 1rem 1rem;
		background-color: $clr-dark;
		z-index: 1;

		input {
			color: $clr-text;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $clr-hightlight;
			caret-color: $clr-text;
			outline: none;

			&::placeholder {
				color: $clr-text-dark;
			}
		}

		select {
			margin-left: 1rem;
			color: $clr-text-dark;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $clr-hightlight;
			outline: none;

			option {
				color: black;
			}
		}
	}

	.cardholder-table {
		position: relative;
		width: 100%;
		height: calc(100% - $searchbar-height);
	}

	.table-container {
		$padding: 1rem;
		position: absolute;
		top: 0;
		bottom: $padding;
		left: $padding;
		right: $padding;
		background-color: $clr-dark;
		border: 1px solid $clr-hightlight;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 12px;

			&-thumb {
				background-color: $clr-text-dark;
				border-radius: 5px;
				border: 3px solid $clr-dark;

				&:hover {
					background-color: $clr-text;
				}
			}
		}

		table {
			position: relative;
			width: 100%;
			min-width: 870px;
			max-width: 1400px;

			border-collapse: separate;
			border-spacing: 0;

			font-size: 14px;
			font-weight: 300;
			text-align: left;
			user-select: none;

			th {
				position: sticky;
				top: 0;
				z-index: 10;
				padding: 0.5rem;
				margin-bottom: 0.5rem;
				color: $clr-text-dark;
				background-color: $clr-dark;
				border: 1px solid $clr-hightlight;
				border-top: none;
				border-left: none;
				font-weight: 300;
			}

			td {
				padding: 0.25rem 0.5rem;
				border-bottom: none;
				border-right: 1px solid $clr-hightlight;
			}

			tr {
				color: $clr-text;
				background-color: $clr-base;
			}

			tr:hover {
				background-color: $clr-hightlight;
			}

			tbody > tr:first-child > td {
				padding-top: 0.5rem;
			}

			.avatar {
				display: block;
				width: 36px;
				margin-left: 4px;
				border-radius: 50%;
				aspect-ratio: 1 / 1;
			}

			.btn-edit-user {
				color: $clr-text;
				background-color: $clr-dark;
				padding: 6px;
				border: 1px solid $clr-hightlight;
				border-radius: 10px;
				cursor: pointer;

				&:hover {
					color: #000;
					background-color: $clr-text-dark;
					transform: scale(1.05);
					transition: 0.1s ease;
				}
			}
		}
	}
}
