$clr-base: hsl(0, 0%, 20%);
$clr-dark: hsl(0, 0%, 17%);
$clr-darker: hsl(0, 0%, 15%);
$clr-darkest: hsl(0, 0%, 14%);
$clr-highlight: #454545;

$clr-text: hsl(100, 13%, 91%);
$clr-text-dark: hsl(0, 0%, 73%);
$clr-text-darker: hsl(0, 0%, 60%);
$clr-text-darkest: hsl(0, 0%, 47%);

$clr-accent: rgb(100, 198, 255);
$clr-accent-dark: rgb(0, 134, 197);
$clr-green: rgb(65, 224, 65);
$clr-red: rgb(255, 65, 65);
$clr-blue: rgb(100, 198, 255);
$clr-purple: rgb(196, 95, 255);

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}

.blue-txt {
	color: $clr-blue !important;
}

.purple-txt {
	color: $clr-purple !important;
}
