@import './_colors';
@import './_mixins';
@import './styles/icons/shape-hexagon.css';

$searchbar-height: 64px;

$navbar-width: 192px;
$navbar-collapsed-width: 64px;
$nav-icon-container-size: 48px;
$nav-icon-size: 24px;

$navbar-width-mobile: 192px;
$navbar-collapsed-width-mobile: 48px;
$nav-icon-container-size-mobile: calc($navbar-collapsed-width-mobile * 0.75);
$nav-icon-size-mobile: calc($nav-icon-container-size-mobile / 2);

.toast {
	color: $clr-text !important;
	background-color: $clr-darkest !important;
	border: 1px solid $clr-highlight !important;
	user-select: none !important;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	.loader {
		$size: 3rem;
		border: calc($size / 7.5) solid $clr-highlight;
		border-top: calc($size / 7.5) solid $clr-accent;
		border-radius: 50%;
		width: $size;
		height: $size;
		animation: spin 1.5s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@include tablet {
	input,
	select,
	textarea {
		-webkit-appearance: none;
		font-size: 16px;
	}
}

@include mobile {
	input,
	select,
	textarea {
		font-size: 16px;
		-webkit-appearance: none;
	}
}
