@import './styles/icons/shape-hexagon.css';

$searchbar-height: 64px;

$clr-base: hsl(0, 0%, 20%);
$clr-dark: hsl(0, 0%, 17%);
$clr-darker: hsl(0, 0%, 15%);
$clr-darkest: hsl(0, 0%, 14%);

$clr-highlight: #454545;

$clr-text: hsl(100, 13%, 91%);
$clr-text-dark: hsl(0, 0%, 73%);
$clr-text-darker: hsl(0, 0%, 60%);
$clr-text-darkest: hsl(0, 0%, 47%);

$clr-accent: #0086c5;
$clr-green: rgb(65, 224, 65);
$clr-red: rgb(255, 65, 65);
$clr-blue: rgb(100, 198, 255);
$clr-purple: rgb(196, 95, 255);

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}

.blue-txt {
	color: $clr-blue !important;
}

.purple-txt {
	color: $clr-purple !important;
}

.toast {
	color: $clr-text !important;
	background-color: $clr-darkest !important;
	border: 1px solid $clr-highlight !important;
	user-select: none !important;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.loader {
		$size: 3rem;
		border: calc($size / 7.5) solid $clr-highlight;
		border-top: calc($size / 7.5) solid $clr-accent;
		border-radius: 50%;
		width: $size;
		height: $size;
		animation: spin 1.5s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

body {
	color: $clr-text;
	background-color: $clr-dark;
}
