@import './styles/icons/add.css';
@import './styles/icons/remove.css';
@import './styles/icons/close-o.css';
@import './styles/icons/radio-check.css';
@import './styles/icons/radio-checked.css';
@import './styles/icons/pen.css';
@import './styles/icons/card.css';
@import './styles/icons/profile.css';
@import './styles/icons/tag.css';
@import './styles/icons/shape-hexagon.css';

$searchbar-height: 64px;

$clr-base: #303030;
$clr-dark: #2b2b2b;
$clr-darker: #272727;
$clr-darkest: #242424;
$clr-highlight: #454545;
$clr-text: #e7ebe5;
$clr-text-dark: #bbbbbb;

$clr-accent: #0086c5;
$clr-green: rgb(65, 224, 65);
$clr-red: rgb(255, 65, 65);
$clr-blue: rgb(100, 198, 255);
$clr-purple: rgb(196, 95, 255);

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}

.blue-txt {
	color: $clr-blue !important;
}

.purple-txt {
	color: $clr-purple !important;
}

.toast {
	color: $clr-text;
	background-color: $clr-darkest;
	border: 1px solid $clr-highlight;
	user-select: none;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.loader {
		$size: 3rem;
		border: calc($size / 7.5) solid $clr-highlight;
		border-top: calc($size / 7.5) solid $clr-accent;
		border-radius: 50%;
		width: $size;
		height: $size;
		animation: spin 1.5s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

body {
	color: $clr-text;
	background-color: $clr-dark;
}
