// ==============
//      VARS
// ==============

$searchbar-height: 72px;

$navbar-width: 192px;
$navbar-collapsed-width: 64px;
$nav-icon-container-size: 48px;
$nav-icon-size: 24px;

$navbar-width-mobile: 192px;
$navbar-collapsed-width-mobile: 54px;
$nav-icon-container-size-mobile: calc($navbar-collapsed-width-mobile * 0.75);
$nav-icon-size-mobile: calc($nav-icon-container-size-mobile / 2);

$mobile-width: 480px;
$tablet-width: 822px;
$desktop-width: 1024px;

// ==============
//     COLORS
// ==============

$clr-lightest: hsl(0, 0%, 29%);
$clr-lighter: hsl(0, 0%, 26%);
$clr-light: hsl(0, 0%, 23%);
$clr-base: hsl(0, 0%, 20%);
$clr-dark: hsl(0, 0%, 17%);
$clr-darker: hsl(0, 0%, 15%);
$clr-darkest: hsl(0, 0%, 14%);

$clr-text: hsl(100, 13%, 91%);
$clr-text-dark: hsl(0, 0%, 73%);
$clr-text-darker: hsl(0, 0%, 60%);
$clr-text-darkest: hsl(0, 0%, 47%);

$clr-accent: rgb(100, 198, 255);
$clr-accent-dark: rgb(0, 134, 197);
$clr-accent-darker: rgb(0, 118, 172);
$clr-accent-darkest: rgb(0, 100, 146);
$clr-accent-secondary-dark: rgb(0, 144, 61);
$clr-green: rgb(65, 224, 65);
$clr-red: rgb(255, 65, 65);
$clr-red-dark: rgb(221 9 9);
$clr-blue: rgb(100, 198, 255);
$clr-purple: rgb(196, 95, 255);

// ==============
//     MIXINS
// ==============

@mixin mobile {
	@media (min-width: 0px) and (max-width: #{$mobile-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$tablet-width + 1}) {
		@content;
	}
}

@mixin reset-padding-margin {
	margin: 0;
	padding: 0;
}

@mixin interactive-hover {
	cursor: pointer;
	filter: brightness(1.25);
}
