$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
	@media (min-width: 0px) and (max-width: #{$mobile-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$tablet-width + 1}) {
		@content;
	}
}

// misc

@mixin reset-padding-margin {
	padding: 0;
	margin: 0;
}

@mixin interactive-hover {
	filter: brightness(1.25);
	cursor: pointer;
}
