@import './master';
@import './icons/shape-hexagon.css';

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}

.blue-txt {
	color: $clr-blue !important;
}

.purple-txt {
	color: $clr-purple !important;
}

.toast {
	color: $clr-text !important;
	background-color: $clr-darkest !important;
	border: 1px solid $clr-highlight !important;
	user-select: none !important;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	.loader {
		$size: 3rem;
		border: calc($size / 7.5) solid $clr-highlight;
		border-top: calc($size / 7.5) solid $clr-accent;
		border-radius: 50%;
		width: $size;
		height: $size;
		animation: spin 1.5s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@include tablet {
	input,
	select,
	textarea {
		-webkit-appearance: none;
		font-size: 16px;
	}
}

@include mobile {
	input,
	select,
	textarea {
		font-size: 16px;
		-webkit-appearance: none;
	}
}
