@import './master';
@import './icons/shape-hexagon.css';

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}

.blue-txt {
	color: $clr-blue !important;
}

.purple-txt {
	color: $clr-purple !important;
}

.toast {
	border: 1px solid var(--clr-lighter) !important;
	background-color: var(--clr-darkest) !important;
	color: $clr-text !important;
	user-select: none !important;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.15);
	z-index: 15;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	$size: 3rem;
	width: $size;
	height: $size;
	border: calc($size / 7.5) solid var(--clr-lighter);
	border-top: calc($size / 7.5) solid var(--clr-accent);
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
}

@include tablet {
	input,
	select,
	textarea {
		font-size: 16px;
		-webkit-appearance: none;
	}
}

@include mobile {
	input,
	select,
	textarea {
		font-size: 16px;
		-webkit-appearance: none;
	}
}
