@import './utillities.scss';

.cardholder-editor {
	.label {
		margin-top: 0.5rem;
		margin-bottom: 5px;
		margin-left: 3px;
		font-size: 0.8em;
		color: $clr-text-dark;
	}

	.title {
		margin: 1rem 0;
		font-weight: 400;
	}

	.header {
		display: flex;
		padding: 1rem;
		background-color: $clr-base;
		box-shadow: 0 1px 2px #242424;
		font-weight: 600;
		font-size: 0.9em;

		.title {
			margin-top: 0;
		}

		.avatar {
			width: 128px;
			height: 128px;
			border: 1px solid $clr-highlight;
			border-radius: 6px;
			box-shadow: 0 0 4px #3a3a3a;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.cardholder-info {
			margin-left: 2rem;

			.label {
				margin-left: 0;
			}
		}

		.edit-toggle {
			position: relative;
			display: flex;
			align-items: flex-start;
			gap: 1rem;
			margin-left: auto;

			span {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			input[type='checkbox'] {
				height: 0;
				width: 0;
				visibility: hidden;
			}

			label {
				cursor: pointer;
				text-indent: -9999px;
				width: 40px;
				height: 20px;
				background: $clr-highlight;
				display: block;
				border-radius: 100px;
				position: relative;
			}

			label:after {
				content: '';
				position: absolute;
				top: 1px;
				left: 1px;
				width: 18px;
				height: 18px;
				background: $clr-text;
				border-radius: 90px;
				transition: 0.3s;
			}

			input:checked + label {
				background: $clr-accent;
			}

			input:checked + label:after {
				left: calc(100% - 1px);
				transform: translateX(-100%);
			}
		}
	}

	.body {
		display: flex;
		flex-direction: row;
		gap: 3rem;
		height: 100%;
		overflow-y: scroll;
		padding: 1rem;

		@media screen and (max-width: 800px) {
			flex-direction: column;
			gap: 0;
		}

		.column {
			display: flex;
			flex-direction: column;
			max-width: 50%;

			@media screen and (max-width: 800px) {
				max-width: 100%;
			}
		}

		&::-webkit-scrollbar {
			width: 1rem;

			&-thumb {
				background-color: $clr-text-dark;
				border-radius: 5px;
				border: 3px solid $clr-dark;
			}

			&-track {
				background: $clr-darkest;
			}
		}

		.input {
			width: 100%;
			margin-bottom: 1rem;
			padding: 0.5rem;
			color: $clr-text;
			background-color: $clr-darkest;
			border: none;
			border-bottom: 1px solid transparent;
			resize: none;

			&:disabled {
				filter: brightness(0.8);
			}

			&:placeholder-shown {
				border-color: $clr-red;
			}
		}

		.checkbox {
			background-color: $clr-darkest;
		}

		.list-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-bottom: 0.25rem;

			.gg-add {
				--ggs: 1.25;
				border-color: transparent;
				color: $clr-green;
				background-color: transparent;

				&:hover:not(:disabled) {
					filter: brightness(1.25);
					cursor: pointer;
				}

				&:disabled {
					visibility: hidden;
				}
			}
		}

		.list {
			border-top: 1px solid $clr-highlight;
			margin-top: 0;
			margin-bottom: 1.5rem;
			padding-top: 0.5rem;
			padding-left: 0;
			list-style: none;
			user-select: none;
		}

		.list-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0.25em 0;
			padding: 0.35rem 0.5rem;
			padding-right: 0;

			&:hover {
				background-color: $clr-highlight;
			}
			.gg-remove {
				--ggs: 1;
				border-color: transparent;
				color: $clr-red;
				background-color: transparent;

				&:hover:not(:disabled) {
					filter: brightness(1.25);
					cursor: pointer;
				}

				&:disabled {
					visibility: hidden;
				}
			}
		}
	}
}
