$searchbar-height: 64px;

.cardholder-page {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: $navbar-width;
	color: $clr-text;
	background-color: $clr-dark;
	transition: all 0.2s ease;
	overflow: hidden;

	@include mobile {
		left: $navbar-width-mobile;

		&.navbar-closed {
			left: $navbar-collapsed-width-mobile;
		}
	}

	&.navbar-closed {
		left: $navbar-collapsed-width;
	}

	.table-body {
		position: relative;
		width: 100%;
		height: calc(100% - $searchbar-height);
	}

	.avatar {
		display: block;
		width: 36px;
		margin-left: 4px;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
	}

	.btn-edit-user {
		color: $clr-text-dark;
		background-color: transparent;
		border-collapse: initial;
		transition: 0.2s ease;
		border: none;
		font-size: 1.45em;
		cursor: pointer;

		&:hover {
			@include interactive-hover;
		}
	}
}
