.cardholders-page {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'logo header'
		'navbar table';
	width: 100%;

	&.navbar-closed {
		grid-template-areas:
			'logo header'
			'table table';
	}
}

.navbar-closed > .cardholders {
	left: 0;
}

.cardholders {
	position: absolute;
	top: $table-header-height;
	left: $table-header-height;
	bottom: 0;
	right: 0;
	color: $clr-text;
	background-color: $clr-dark;

	overflow: hidden;
	transition: 0.2s ease;

	.avatar {
		display: block;
		width: 36px;
		margin-left: 4px;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
	}

	.btn-edit-user {
		color: $clr-text-dark;
		background-color: transparent;
		border-collapse: initial;
		transition: 0.1s ease;
		border: none;
		font-size: 1.45em;
		cursor: pointer;

		&:hover {
			@include interactive-hover;
		}
	}
}
