@import '../styles/master';

.overlay {
	display: flex;
	justify-content: center;
	position: fixed;
	inset: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.651);
	z-index: 200;

	&.popup {
		align-items: center;
	}

	.popup {
		display: flex;
		flex-direction: column;
		min-width: 250px;
		max-width: 450px;
		max-height: 250px;
		padding: 1.5rem;
		background-color: $clr-dark;
		color: $clr-text;
		box-shadow: 0 0 20px 1px #000000;

		@include mobile {
			max-width: 90vw;
			margin: 1rem;
		}

		.btns {
			display: flex;
			gap: 1rem;
			margin-top: 1rem;

			button {
				width: 100%;
				padding: 0.75em;
				border: none;
				border-radius: 3px;
				color: $clr-text;
				font-size: 0.9em;
				font-weight: 600;
				cursor: pointer;
				box-shadow: 1px 1px 2px $clr-base;
				transition: 0.15s ease-in-out;

				.loader {
					$size: 1.5rem;
					width: $size;
					height: $size;
					border-color: $clr-text;
					border-top-color: $clr-accent;
				}

				&:disabled {
					filter: brightness(0.55);
				}

				&:hover:not(:disabled) {
					@include interactive-hover;
				}

				&.confirm {
					background-color: $clr-red-dark;
				}

				&.cancel {
					background-color: $clr-lighter;
				}
			}
		}
	}
}
