@import './utillities.scss';

.credentials-page {
	color: $clr-text;
	background-color: $clr-dark;
	width: 100%;
	height: 100%;

	.credentials-section-container {
		position: relative;
		width: 100%;
		height: calc(100% - $searchbar-height);
	}
}
