@import '../styles/master';

.custom-datepicker-popper {
	.react-datepicker {
		width: 100%;
		border-top: none;
		border-color: transparent;
		background-color: var(--clr-base);
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		&__header {
			border-color: var(--clr-lighter);
			background-color: var(--clr-darkest);

			&-custom-container {
				display: flex;
				justify-content: space-evenly;
				align-content: center;
				margin: 4px;

				.input {
					width: auto;
					margin: 0 3px;
					padding: 0 0.5rem;
				}

				button {
					border: none;
					background-color: transparent;
					color: var(--clr-text);
					font-weight: 900;
					cursor: pointer;
					border-radius: 3px;

					&:hover {
						background-color: var(--clr-lighter);
					}
				}
			}
		}

		&__triangle {
			&::before {
				border-top-color: var(--clr-base) !important;
				border-bottom-color: var(--clr-base) !important;
			}

			&::after {
				border-top-color: var(--clr-base) !important;
				border-bottom-color: var(--clr-base) !important;
			}
		}

		&__current-month,
		&__day-name,
		&__day {
			color: var(--clr-text);
		}

		&__day {
			color: var(--clr-text);

			&:hover {
				background-color: var(--clr-darkest);
			}

			&-names {
				border-top: 1px solid var(--clr-lighter);
			}

			&--keyboard-selected {
				background-color: var(--clr-darker);
			}

			&--outside-month {
				visibility: hidden;
			}

			&--disabled {
				color: var(--clr-text-darkest);
				cursor: not-allowed;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}
