.error-page {
	display: flex;
	width: 100%;
	padding: 1rem;
	color: $clr-text;

	.error-container {
		height: fit-content;
		margin: 1rem;
		padding: 1rem;
		border: 1px solid $clr-highlight;

		h1 {
			margin-top: 0;
		}

		.error {
			margin: 1rem 0;
			.status {
				color: $clr-red;
			}
		}
	}
}
