@import '../styles/master';

.list-add-remove {
	button {
		border-color: transparent;
		background-color: transparent;
		opacity: 1;
		transition: 0.2s ease-out;
		aspect-ratio: 1 / 1;

		&:hover:not(:disabled) {
			@include interactive-hover;
		}

		&:disabled {
			opacity: 0;
		}
	}

	.list-header {
		display: flex;
		justify-content: space-between;
		align-content: center;
		max-height: 2rem;
		padding-bottom: 0.25rem;

		button {
			border-color: transparent;
			color: $clr-green;
			font-size: 1.15em;
		}
	}

	.list-body {
		margin-top: 0;
		margin-bottom: 1.5rem;
		padding-top: 0.5rem;
		padding-left: 0;
		border-top: 1px solid var(--clr-lighter);
		list-style: none;
		user-select: none;

		& > * {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0.25em 0;
			padding: 0.25rem 0.5rem;
			padding-right: 0;
			line-height: 1;
		}

		.list-item {
			border-left: 5px solid var(--clr-accent);
			&:hover {
				background-color: var(--clr-lighter);
			}

			button {
				color: $clr-red;
			}
		}
	}
}
