@import '../styles/master';

.overlay {
	display: flex;
	justify-content: center;
	position: fixed;
	inset: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.651);
	z-index: 100;

	.modal {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-width: 250px;
		max-width: 750px;
		margin: 3rem 1.5rem;
		background-color: $clr-dark;
		color: $clr-text;
		box-shadow: 0 0 20px 1px #000000;

		@include mobile {
			max-width: 90vw;
			margin: 1rem;
		}

		.header {
			display: flex;
			position: relative;
			padding: 1rem;
			background-color: $clr-base;
			font-size: 0.9em;
			font-weight: 600;
			box-shadow: 0 1px 2px $clr-darkest;
		}

		.body {
			display: flex;
			height: 100%;
			padding: 1rem;
			overflow-y: scroll;
		}

		.footer {
			display: flex;
			justify-content: flex-end;
			gap: 1rem;
			padding: 1rem;
			background-color: $clr-darker;
			box-shadow: 0 -1px 2px $clr-darkest;

			.btn {
				padding: 0.75em;
				border: none;
				border-radius: 3px;
				color: $clr-text;
				font-size: 0.9em;
				font-weight: 600;
				cursor: pointer;
				box-shadow: 1px 1px 2px $clr-base;
				transition: 0.15s ease-in-out;

				&.save {
					background-color: $clr-accent-dark;
					padding-inline: 3em;
				}

				&.cancel {
					background-color: $clr-highlight;
					padding-inline: 1em;
				}

				&.delete {
					margin-right: auto;
					background-color: $clr-red-dark;
					padding-inline: 1em;
				}

				&:disabled {
					filter: brightness(0.55);
				}

				&:hover:not(:disabled) {
					@include interactive-hover;
				}
			}
		}
	}
}
