@import '../styles/master';

.searchbar-container {
	position: relative;

	input {
		width: 100%;
		height: 100%;
		color: $clr-text;
		background-color: $clr-darker;
		outline: none;

		&::placeholder {
			color: $clr-text-dark;
		}
	}

	button {
		position: absolute;
		color: $clr-text-dark;
		background-color: transparent;
		border-color: transparent;
		font-size: 1.25em;
		opacity: 0;
		transition: opacity 0.2s ease;
		cursor: pointer;

		&.show {
			opacity: 1;
		}

		&:hover {
			@include interactive-hover;
		}
	}
}
