@import '../styles/master';

.searchbar-container {
	position: relative;

	input {
		width: 100%;
		height: 100%;
		outline: none;
		background-color: var(--clr-darker);
		color: var(--clr-text);

		&::placeholder {
			color: var(--clr-text-dark);
		}
	}

	button {
		position: absolute;
		border-color: transparent;
		background-color: transparent;
		color: var(--clr-text-dark);
		font-size: 1.25em;
		opacity: 0;
		cursor: pointer;
		transition: opacity 0.2s ease;

		&.show {
			opacity: 1;
		}

		&:hover {
			@include interactive-hover;
		}
	}
}
