@import '../styles/master';

.overlay.selection-list {
	background-color: transparent;

	.modal {
		width: 100%;
		background-color: var(--clr-base);
	}

	.header {
		justify-content: space-between;
		align-items: center;
		background-color: var(--clr-darker);

		h2 {
			margin: 0;
			font-weight: 400;
		}

		.btn-exit {
			border: none;
			background-color: transparent;
			color: $clr-text-dark;
			font-size: 1.35em;
			cursor: pointer;

			&:hover {
				@include interactive-hover;
			}
		}
	}

	.body {
		flex-direction: column;
		margin: 0.5rem 1rem;
		padding: 0;

		border: 1px solid var(--clr-lighter);
		overflow-y: auto;

		.searchbar-container {
			padding: 1rem;

			input {
				padding: 0.75rem 0.25rem;
				border: none;
				border-bottom: 1px solid transparent;
				transition: 0.2s ease;

				&:focus {
					border-bottom: 1px solid var(--clr-accent);
				}
			}

			button {
				top: 50%;
				right: 0 + 1em;
				font-size: 1.25em;
				transform: translateY(-50%);
			}
		}

		.list {
			display: flex;
			flex-direction: column;
			position: relative;
			height: 100%;
			padding: 1rem 0;
			padding-top: 0;
			overflow-y: auto;

			&-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.75rem 1rem;
				border-bottom: 1px solid var(--clr-lighter);
				user-select: none;

				&:hover {
					background-color: var(--clr-lighter);
				}

				svg {
					color: var(--clr-accent);
					font-size: 1.25em;
				}

				input {
					appearance: none;
				}
			}

			&::-webkit-scrollbar {
				width: 1rem;

				&-thumb {
					border: 3px solid var(--clr-dark);
					background-color: $clr-text-dark;
					border-radius: 5px;
				}

				&-track {
					background: var(--clr-darkest);
				}
			}
		}
	}

	.footer {
		.show-selected {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-right: auto;
			margin-left: 1rem;
			color: var(--clr-accent);
			cursor: pointer;
			user-select: none;
		}

		svg {
			color: var(--clr-accent);
			font-size: 1.25em;
		}
	}
}
