.overlay.selection-list {
	background-color: transparent;

	.modal {
		width: 100%;
		background-color: $clr-base;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background-color: $clr-darker;
		box-shadow: 0 1px 2px $clr-darkest;

		h2 {
			margin: 0;
			font-weight: 400;
		}

		.btn-exit {
			color: $clr-text-dark;
			background-color: transparent;
			border: none;
			font-size: 1.35em;
			cursor: pointer;

			&:hover {
				@include interactive-hover;
			}
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0.5rem 1rem;
		overflow-y: auto;

		border: 1px solid $clr-highlight;

		.searchbar-container {
			position: relative;
			padding: 1rem;

			input {
				width: 100%;
				padding: 0.75rem 0.25rem;
				color: $clr-text;
				background-color: $clr-darker;
				border: none;
				border-bottom: 1px solid transparent;
				outline: none;
				transition: 0.2s ease;

				&:focus {
					border-bottom: 1px solid $clr-accent;
				}
			}

			button {
				position: absolute;
				right: 0 + 1em;
				top: 50%;
				transform: translateY(-50%);
				color: #bbbbbb;
				background-color: transparent;
				border-color: transparent;
				font-size: 1.25em;
				opacity: 0;
				transition: opacity 0.2s ease;
				cursor: pointer;

				&.show {
					opacity: 1;
				}

				&:hover {
					@include interactive-hover;
				}
			}
		}

		.list {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 1rem 0;
			padding-top: 0;
			overflow-y: auto;

			&-item {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.75rem 1rem;
				border-bottom: 1px solid $clr-highlight;
				user-select: none;

				&:hover {
					background-color: $clr-highlight;
				}

				svg {
					font-size: 1.25em;
					color: $clr-accent;
				}

				input {
					appearance: none;
				}
			}

			&::-webkit-scrollbar {
				width: 1rem;

				&-thumb {
					background-color: $clr-text-dark;
					border-radius: 5px;
					border: 3px solid $clr-dark;
				}

				&-track {
					background: $clr-darkest;
				}
			}
		}
	}

	.footer {
		.show-selected {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-left: 1rem;
			margin-right: auto;
			color: $clr-accent;
			user-select: none;
			cursor: pointer;
		}

		svg {
			color: $clr-accent;
			font-size: 1.25em;
		}
	}
}
