@use './utils';
@import '../styles/master';

.table-body {
	$margin: 1rem;
	position: relative;
	height: 100%;
	margin: $margin;
	margin-top: 0;
}

.table-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: sticky;
	top: 0;
	height: $searchbar-height;
	padding: 1rem 1rem;
	background-color: $clr-dark;
	z-index: 1;

	@include mobile {
		gap: 0.5rem;
	}

	h1 {
		min-width: 0;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include mobile {
			display: none;
		}
	}

	.searchbar-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		margin-left: auto;

		input {
			padding-left: 0.5rem;
			border: 1px solid $clr-highlight;
			border-radius: 0;
			caret-color: $clr-text;

			&:focus {
				border-color: $clr-text-dark;
			}
		}

		button {
			font-size: 1.1em;
		}
	}

	select {
		height: 100%;
		padding: 0 0.5rem;
		padding-right: 1rem;
		border: 1px solid $clr-highlight;
		border-radius: 0px;
		outline: none;
		background-color: $clr-darkest;
		color: $clr-text-dark;

		&:focus {
			border-color: $clr-text-dark;
		}

		option {
			color: $clr-text;
		}
	}

	.add-btn {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 0.25rem;
		width: auto;
		height: 90%;
		padding: 0;
		border: 1px solid transparent;
		border-bottom: none;
		border-radius: 3px;
		background-color: $clr-accent-secondary-dark;
		color: $clr-text;

		@include mobile {
			gap: 0;
		}

		@include tablet {
			gap: 0;
		}

		span {
			width: 8rem;
			padding-left: 0.5rem;
			white-space: nowrap;
			font-weight: 600;
			overflow: hidden;
			transition: width 0.5s ease;

			@include mobile {
				width: 0px;
				padding: 0;
			}

			@include tablet {
				width: 0px;
				padding: 0;
			}
		}

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			aspect-ratio: 1 / 1;

			svg {
				height: 65%;
				aspect-ratio: 1 / 1;
			}
		}

		&:hover {
			@include interactive-hover;

			span {
				filter: brightness(0.85);
			}
		}
	}
}

.table-container {
	$padding: 1rem;
	position: absolute;
	inset: 0 0 0 0;
	border: 1px solid $clr-highlight;
	background-color: $clr-dark;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 1rem;
		height: 1rem;

		&-thumb {
			border: 3px solid $clr-dark;
			border-radius: 5px;
			background-color: $clr-text-dark;

			&:hover {
				background-color: $clr-text;
			}
		}

		&-corner {
			background-color: $clr-darkest;
		}
	}

	table {
		position: relative;
		width: 100%;
		min-width: 870px;

		border-collapse: separate;
		border-spacing: 0;
		text-align: left;

		font-size: 14px;
		font-weight: 300;
		user-select: none;

		th {
			position: sticky;
			top: 0;
			margin-bottom: 0.5rem;
			padding: 0.5rem;
			border: 1px solid $clr-highlight;
			border-top: none;
			border-left: none;
			background-color: $clr-dark;
			color: $clr-text-dark;
			font-weight: 300;
			z-index: 10;

			.inner-header {
				display: flex;
				justify-content: space-between;
				cursor: pointer;
			}

			.resizer {
				position: absolute;
				top: 0;
				right: 0;
				width: 4px;
				height: 100%;
				opacity: 0;

				cursor: col-resize;
				user-select: none;
				touch-action: none;

				&.isResizing {
					background: $clr-highlight;
					opacity: 1;
				}

				&:hover {
					opacity: 1;
				}
			}
		}

		td {
			height: 3rem;
			padding: 0.25rem 0.5rem;
			border-right: 1px solid $clr-highlight;
			border-bottom: none;

			.avatar {
				display: block;
				width: 36px;
				margin-left: 4px;
				border-radius: 50%;
				aspect-ratio: 1 / 1;
			}
		}

		tr {
			background-color: $clr-base;
			color: $clr-text;
		}

		tr:hover {
			background-color: $clr-highlight;
		}
	}

	.loader-row {
		background-color: $clr-accent-dark;
		border-radius: 6px;
		margin: 0.5rem;
		padding: 0.5rem;
		height: auto;

		.loader {
			width: 1.5rem;
			height: 1.5rem;

			border-color: $clr-text;
			border-top-color: $clr-accent;
		}
	}
}
