@import '../styles/master';

.table-page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: $clr-dark;
	color: $clr-text;
	overflow: hidden;
	transition: all 0.2s ease;

	@include mobile {
		left: $navbar-collapsed-width-mobile;
	}

	@include tablet {
		left: $navbar-width;

		&.navbar-closed {
			left: $navbar-collapsed-width;
		}
	}

	@include desktop {
		left: $navbar-width;

		&.navbar-closed {
			left: $navbar-collapsed-width;
		}
	}

	&-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.btn-edit-user {
		border: none;
		width: 100%;
		height: 80%;
		border-radius: 6px;
		background-color: $clr-lighter;
		color: $clr-text-dark;
		font-size: 1.45em;
		cursor: pointer;
		transition: 0.2s ease;

		&:hover {
			@include interactive-hover;
		}
	}
}
