@import '../styles/master';

.table-page {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	color: $clr-text;
	background-color: $clr-dark;
	transition: all 0.2s ease;
	overflow: hidden;

	@include mobile {
		left: $navbar-collapsed-width-mobile;
	}

	@include tablet {
		left: $navbar-width;

		&.navbar-closed {
			left: $navbar-collapsed-width;
		}
	}

	@include desktop {
		left: $navbar-width;

		&.navbar-closed {
			left: $navbar-collapsed-width;
		}
	}

	.table-body {
		position: relative;
		width: 100%;
		height: calc(100% - $searchbar-height);
	}

	.btn-edit-user {
		color: $clr-text-dark;
		background-color: transparent;
		border-collapse: initial;
		transition: 0.2s ease;
		border: none;
		font-size: 1.45em;
		cursor: pointer;

		&:hover {
			@include interactive-hover;
		}
	}
}
