@import './icons/add.css';
@import './icons/remove.css';
@import './icons/close-o.css';
@import './icons/radio-check.css';
@import './icons/radio-checked.css';
@import './icons/pen.css';
@import './icons/card.css';
@import './icons/profile.css';
@import './icons/tag.css';

$clr-base: #303030;
$clr-dark: #2b2b2b;
$clr-darker: #272727;
$clr-darkest: #242424;
$clr-highlight: #454545;
$clr-text: #e7ebe5;
$clr-text-dark: #bbbbbb;

$clr-accent: #0086c5;
$clr-green: rgb(65, 224, 65);
$clr-red: rgb(255, 65, 65);
$clr-blue: rgb(100, 198, 255);
$clr-purple: rgb(196, 95, 255);

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}

.blue-txt {
	color: $clr-blue !important;
}

.purple-txt {
	color: $clr-purple !important;
}

.toast {
	color: $clr-text;
	background-color: $clr-darkest;
	border: 1px solid $clr-highlight;
	user-select: none;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.loader {
		$size: 3rem;
		border: calc($size / 7.5) solid $clr-highlight; /* Light grey */
		border-top: calc($size / 7.5) solid $clr-accent; /* Blue */
		border-radius: 50%;
		width: $size;
		height: $size;
		animation: spin 1.5s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

$searchbar-height: 64px;

.top-searchbar {
	display: flex;
	position: sticky;
	top: 0;
	height: $searchbar-height;
	padding: 1rem 1rem;
	background-color: $clr-dark;
	z-index: 1;

	.searchbar-input-container {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.btn-close {
		position: absolute;
		--ggs: 1;
		color: #bbbbbb;
		background-color: transparent;
		border-color: transparent;
		cursor: pointer;

		&:hover {
			filter: brightness(1.25);
		}
	}

	input {
		height: 100%;
		color: $clr-text;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $clr-highlight;
		caret-color: $clr-text;
		outline: none;

		&::placeholder {
			color: $clr-text-dark;
		}
	}

	select {
		margin-left: 1rem;
		color: $clr-text-dark;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $clr-highlight;
		outline: none;

		option {
			color: black;
		}
	}
}
