$clr-base: #303030;
$clr-dark: #2b2b2b;
$clr-darker: #272727;
$clr-darkest: #242424;
$clr-hightlight: #454545;
$clr-text: #e7ebe5;
$clr-text-dark: #bbbbbb;

$clr-blue: #0086c5;
$clr-green: rgb(65, 224, 65);
$clr-red: rgb(255, 65, 65);

.green-txt {
	color: $clr-green !important;
}

.red-txt {
	color: $clr-red !important;
}
