.gg-shape-hexagon,
.gg-shape-hexagon::after,
.gg-shape-hexagon::before {
	display: block;
	width: 18px;
	height: 10px;
	border-right: 3px solid currentColor;
	border-left: 3px solid currentColor;
	box-sizing: border-box;
}

.gg-shape-hexagon {
	position: relative;
	transform: scale(var(--ggs, 1));
}

.gg-shape-hexagon::after,
.gg-shape-hexagon::before {
	position: absolute;
	left: -3px;
	content: '';
}

.gg-shape-hexagon::before {
	transform: rotate(60deg);
}

.gg-shape-hexagon::after {
	transform: rotate(-60deg);
}
