@import './styles/global';
@import './styles/CardholderEditor.scss';
@import './styles/TablePage.scss';
@import './styles/Error.scss';
@import './styles/Modal.scss';
@import './styles/Navbar.scss';
@import './styles/SelectionList.scss';
@import './styles/Table.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
}

html {
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	background-color: $clr-dark;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.app {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: -webkit-fill-available;
	background-color: $clr-darker;
}
