*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

<<<<<<< Updated upstream
.App {
=======
.cardholders-body,
.credentials-body {
	display: flex;
	flex-direction: row;
>>>>>>> Stashed changes
	height: 100vh;
}
